---

---

<footer
  class='flex flex-col md:flex-row items-center justify-between p-16 border-t-2 border-blue-600 bg-blue-400 text-white'
>
  <div></div>
  <p class='font-customFont'>&copy; 2024 by Pingo, All rights reserved</p>
  <div class='text-center my-10 md:my-0'>
    <p>Follow us:</p>
    <div class='flex items-center justify-between'>
      <a href='https://x.com/pingocoinmeme'>
        <img
          class='w-16'
          src='https://cdn.icon-icons.com/icons2/4029/PNG/512/twitter_x_new_logo_x_rounded_icon_256078.png'
        />
      </a>
      <a href='https://x.com/pingocoinmeme'>
        <img
          class='w-10'
          src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/2048px-Telegram_logo.svg.png'
        />
      </a>
    </div>
  </div>

  <style scoped>
    p {
      text-shadow:
        2px 0 #2873ff,
        -2px 0 #2873ff,
        0 2px #2873ff,
        0 -2px #2873ff,
        1px 1px #2873ff,
        -1px -1px #2873ff,
        1px -1px #2873ff,
        -1px 1px #2873ff;
    }
  </style>
</footer>
